
<div class="ui-widget job" id="{{ job.job.job_id }}">
			<div class="{% ifequal job_status "reviewable" %}ui-state-error{% else %}{% ifequal job_status "available" %}ui-state-active{% else %}ui-state-highlight{% endifequal %}{% endifequal %} job-inner ui-corner-all"> 
				<p>
				<h2>{{ job.job.language_src }} > {{ job.job.language_tgt }} </h2>
				<div class="job-details">{{ job.job.date }} | {{ job.job.unit_count }} Words |  {{ job.job.tier.capitalize }} Tier | {{ job.job.credits }} Credits</div>
        
        <div class="nav-details">
            <a ref="comments_container" id="nav-comments">
                {% if job.comments %}{{ job.comments|length }} Comments{% else %}Add a Comment{% endif %}
            </a> 
            {% ifequal job_status "reviewable" %}<a ref="review" id="nav-review">Review</a>{% endifequal %}
        </div>


    <div id="comments_container" class="details_container"  style="display:none;">
        <div id="comments">
        {% for comment in job.comments %}
            {% include "comment.html" %}
        {% endfor %}
        </div>
         <div class="add_comment">
            <textarea placeholder="write a comment..."></textarea><br/>
            <button class="save_comment">Save Comment</button>
        </div>
    </div>
    
{% ifequal job_status "reviewable" %}        
    <div id="review" class="details_container" style="display:none;">        
    <img src="/preview/{{ job.job.job_id }}"/>
    <div style="margin:5px;">
        <div class="instructions">Please rate this translation</div>
    <div style="margin:0 0 5px;">
        Bad <input name="rating" value="1" type="radio"/> 
            <input name="rating" value="2" type="radio"/> 
            <input name="rating" value="3" type="radio"/> 
            <input name="rating" value="4" type="radio"/> 
            <input name="rating" value="5" type="radio"/> Great
    </div>
    <button class="submit_rating">Submit Rating</button> 
    </div>
    </div>
{% endifequal %}


  </div>
</div>

