
<h1>Order a Translation</h1>

<form method="POST" name="order" action="/order">{% csrf_token %}
    <div id="text_body_container">
        <textarea name="body_src" id="body_src" placeholder="enter your text..." style="padding: 10px; font-size: 16px; width:400px; height: 120px; margin: 20px;"></textarea>
    </div>
    <div id="options_container">
        <label>Translate from</label>
        <select id="lc_src" name="lc_src">
        {% for language in languages %}
            <option value="{{ language.lc }}">{{ language.language }}</option> {# language.localized_name #}
        {% endfor %}
        </select>
        <label>Translate to</label>
        {# TODO: allow this field and tier to be duplicated for multiple grouped orders #}
        <select id="lc_tgt" name="lc_tgt">
        {% for language in languages %}
            <option {% ifequal language.language default_lc_tgt %}selected{% endifequal %} value="{{ language.lc }}">{{ language.language }}</option>
        {% endfor %}
        </select>    
        <br/><br/>
        <label>Tier</label><br>
        <div id="tiers">
        <input type="radio" name="tier" value="standard" checked>Standard<br>
        <input type="radio" name="tier" value="pro">Pro<br>
        <input type="radio" name="tier" value="ultra">Ultra<br>
        </div>
        {# TODO: add a comment #}
        <br/><br/>
        <input type="checkbox" checked name="as_group" id="as_group"> <label>Group Jobs</label>
        <input type="checkbox" name="auto_approve" id="auto_approve"> <label>Auto-approve Jobs</label>
        <br/><br/>
        <h3 style="padding:0px; margin: 0px;">Total (<span id="word_count_quote">0</span> words)</h3>
        <h2 style="padding:0px; margin: 0px;">$<span id="price_quote">0.00</span></h2>
        <div id="updating_quote" style="display:none; color:#888;">updating price and word count...</div>
        <br/>
        <button id="submit_order" type="submit">
            Order
        </button>
           
    </div>
    
</form>


