

<div class="ui-widget credits">
	<div class="ui-widget-content ui-corner-all credits-inner"> 
		<p>
				    {% if balance.credits %}Credits remaining: <b>{{ balance.credits }}</b>{% else %}no credits remaining{% endif %}
				    &nbsp; <a style="font-size:.8em;" target="_blank" href="http://mygengo.com/account/top_up">get more credits</a>
	 </p>
				
	</div>
</div><div style="height:20px;"></div>
		

<ul>
<h1 id="jobs_header">Your Jobs</h1>
{% for job in jobs %}
           <li style="margin: 15px;" class="job_link" id="{{ job.job_id }}"><a class="shortcut" style="padding:10px;"><span style="font-weight:bold; cursor:pointer; font-size:1.3em; color: #0D2054;">Job{{ job.job_id }}</span> <i>({{ job.date }})</i></a></li> 
{% endfor %}
</ul>

