

<div class="ui-widget credits">
	<div class="ui-widget-content ui-corner-all credits-inner"> 
		<p>
				    {% if balance.credits %}Credits remaining: <b>{{ balance.credits }}</b>{% else %}no credits remaining{% endif %}
				    &nbsp; <a style="font-size:.8em;" target="_blank" href="http://mygengo.com/account/top_up">get more credits</a>
	 </p>
				
	</div>
</div><div style="height:20px;"></div>
		

{% for job_status, jobs_list in jobs %}
    {% if jobs_list %}
        <h1>{{ job_status.capitalize }} Jobs</h1>
        {% for job in jobs_list %}
            {% include "job.html" %}
            <br/>
        {% endfor %}
    {% else %}
        <h3><i>you don't have any {{ job_status }} jobs</i></h3>    
    {% endif %}
{% endfor %}

