<h1>About the myGengo Django Plugin</h1>
<div style="margin:20px 0; font-size:18px; width:700px;">
    This <a>Django</a> plugin integrates with the <a  target="_blank"  href="http://www.mygengo.com/services/api">myGengo API</a> to offer low-cost, high-quality translation.
    <br/><br/>
    You can download and contribute to the LGPL-licensed <a  target="_blank"  href="http://github.com">myGengo Django Plugin</a> project. 
    <br/>
   <h3>Current Features:</h3>
    <ul>
    <li><b>Order a Job</b></li>
    <ul>
    <li>add text to translate and set source and target languages</li>
    <li>configure job options and set tier </li>
    <li>real-time price quote</li>
    </ul>
    <br/>
    <li><b>Job Dashboard</b></li>
    <ul>
    <li>view worker translations</li>
    <li>view and post comments</li>
    <li>post ranslation ratings</li>
    </ul>
    </ul>
    <br/>
    <h3>Roadmap:</h3>
    <ul>
    <li>accounts and API key settings</li>
    <li>job grouping</li>
    <li>more job feedback features</li>
    <li>e-mail notifications</li>
    <li>refactoring and polishing the rough edges</li>
    </ul>
</div>
