<h1>About the myGengo Django Plugin</h1>
<div id="intro-inner">
    This <a>Django</a> plugin integrates with the <a  target="_blank"  href="http://www.mygengo.com/services/api">myGengo API</a> to offer low-cost, high-quality translation.
    <br/><br/>
    You can download and contribute to the LGPL-licensed <a  target="_blank"  href="http://github.com/jamslevy/django-mygengo">django-mygengo</a> project. 
    <br/><br/>
    <i>Note</i>: Until API key information can be edited from the application, set the appropriate values to DEFAULT_MYGENGO_CONFIG in api.py.
    <br/>
   <h3>Current Features:</h3>
    <ul>
    <li><b>Order a Job</b></li>
    <ul>
    <li>add text to translate and set source and target languages</li>
    <li>configure job options and set tier </li>
    <li>real-time price quote</li>
    </ul>
    <br/>
    <li><b>Job Dashboard</b></li>
    <ul>
    <li>view translations submitted by workers</li>
    <li>view and post comments</li>
    <li>post translation ratings</li>
    </ul>
    </ul>
    <h3>Roadmap:</h3>
    <ul>
    <li>accounts with saved preferences and API key settings</li>
    <li>job grouping</li>
    <li>more job feedback features</li>
    <li>e-mail notifications</li>
    <li>example blog integration (publish posts in different languages)</li>
    <li>refactor, improve plugin usability, polish the rough edges</li>
    </ul>
</div>
